{% include 'header.html' %}

  <body>
    <div class ="container mt-5">
    <form  action="{% url 'loginuser' %}" method="POST" class="form-signin">

      {% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Floating labels</h1>
        <p>Build form controls with floating labels via the <code>:placeholder-shown</code> pseudo-element. <a href="https://caniuse.com/#feat=css-placeholder-shown">Works in latest Chrome, Safari, and Firefox.</a></p>
      </div>
      {% if error_message %}
      <p class="error-message">{{ error_message }}</p>
      {% endif %}

      <div class="form-label-group">
        <label for="inputEmail">Email address</label>
        <input type="email" id="email" name= "email" class="form-control" placeholder="Email address" required autofocus>
       
      </div>

      <div class="form-label-group">
        <label for="inputPassword">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <div class = "container ml-5">
      <a href="{% url 'social:begin' 'google-oauth2' %}" ><img src="https://cdn3d.iconscout.com/3d/free/thumb/free-google-9185438-7516836.png" style="height:50px " class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></a> &nbsp;
      <a href="{% url 'social:begin' 'facebook' %}" ><img src="https://png.pngtree.com/png-clipart/20230401/original/pngtree-facebook-icon-png-image_9015416.png" style="height:50px " class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""></a>
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
      <P> <a href="/signup">Signup Now </a></p>
    </form>
  
  </div>
 {% include 'footer.html' %}
    

  
