{% include 'header.html' %}


<div class ="container">
<form  action =""  method="POST" class="form-horizontal">

  {% csrf_token %}
  
    <!-- Form Name -->
    <legend>Signup</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="text">User name</label>  
      <div class="col-md-4">
      <input id="text" name="name" type="text" placeholder="username" class="form-control input-md" required="">
      <span class="help-block">type username</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">Email</label>  
      <div class="col-md-4">
      <input id="email" name="email" type="text" placeholder="email" class="form-control input-md" required="">
      <span class="help-block">type a valid email</span>  
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="passwordinput">Password </label>
      <div class="col-md-4">
        <input id="passwordinput" name="password" type="password" placeholder="password" class="form-control input-md" required="">
        <span class="help-block">enter a valid passowrd</span>
      </div>
    </div>
    
    <!-- Password input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="password">Confirm Password</label>
      <div class="col-md-4">
        <input id="password" name="confirmpassword" type="password" placeholder="confirm password" class="form-control input-md" required="">
        <span class="help-block">password must match</span>
      </div>
    </div>
    
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit">Signup Now</label>
      <div class="col-md-4">
        <button id="submit" type="submit" class="btn btn-primary">Signup</button>
      </div>
    </div>
    
   
    </form>
</div>
{% include 'footer.html' %}